
body {
	font-family:'heisei-kaku-gothic-std','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'sans-serif';
	font-size: 14px;
	line-height: 1.6em;
	margin: 0;
	padding: 0;
	color: #4A4A4A ;
}


/*Begin Nav styling */

.navbar-default {
	background-color: #FFFFFF;
	height: 85px;
	border-bottom: thin solid #e4e4e4;
	position: fixed;
	width: 100%;
	z-index: 1;
	box-shadow: 0 1px 2px rgba(0,0,0,.5)
}

.nav-link {
	font-size: 1em;
	margin-top: 30px;
	display: block;
}


.navbar-default .navbar-nav>li>a:hover {
	color: #C06014;
	background-color: #e5e5e5;
	border-radius: 2px;
}

#contact-us {
	background-color: #6B7A8F;
	border-radius: 2px;
	margin: 2px;
	margin: 0 2px 0 2px;
}

#free-trial {
	background-color: #C06014;
	border-radius: 2px;
	margin: 0 2px 0 2px;
}

#contact-us > a {
	color: #FFFFFF;
}

#free-trial > a {
	color: #FFFFFF;
}


#contact-us a:hover {
	border-radius: 2px;
	color: #6B7A8F;
}

#free-trial a:hover {
	border: #C06014;
	color: #C06014;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
	color: #4A4A4A;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

li.dropdown {
    display: inline-block;
}

li a, .dropbtn {
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 2px;

}

.dropdown-content a:hover {
	color:#C06014;
	background-color: #e5e5e5;
}


.logo {
	float: left;
	position: fixed;
	margin: 10px 0 0 0;
}


/*End nav styling*/



/*Banners and banner text */

.banner {
	padding-top: 80px;
/*	width: 100%;
	display: block;*/
}

.banner > .banner-image {
	width: 100%;
	display: block;
	position: relative;
}

.banner-text {
	color: #FFFFFF;
	position: absolute;
	width: 100%;
	top:45%;
	font-size: 4em;
	left:0;
	transform:translateY(-50%);
}

.banner-mid {
	width: 100%;
	display: block;
	position: relative;
}

.banner-mid > .banner-image {
	width: 100%;
	display: block;
	position: relative;
}

.banner-text-mid {
	color: #FFFFFF;
	position: absolute;
	width: 100%;
	top: 30%;
	font-size: 4em;
	left:0;
}

.banner-text-belts {
	color: #FFFFFF;
	position: absolute;
	width: 100%;
	top: 12%;
	left: 8%;
	text-align: left;
	font-size: 2.5em;
	line-height: 1.5em;
}

.banner-image-belt {
	width: 100%;
	display: block;
	position: relative;
}




/*Title headers and text  */

h1 {
	text-align: center;
	margin: 50px 0 50px 0;
	color: #4A4A4A;
	font-size: 2.2em;
	line-height: 1.5em;
}

h2 {
	text-align: center;
}


h3 {
	line-height: 2em;
	color: #C06014;
	font-size: 2em;
}

p {
	font-size: 1.25em;
	line-height: 1.5em;
}



/*Video */

.video-container {
	margin: auto;
	display: table;
}


/*.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}*/

*/
/*Values text */

.section-headerh3 {
	color: #C06014;
	font-size: 2.25em;
	line-height: 1.2em;
}

.section-paragraph {
	padding-top: 5px;
	padding-left: 5px;
}

.section-paragraph > p {
	font-size: 1.5em;
}

.rows-values {
	margin: 2% 0 5% 0;
}


/*carousel*/


#myCarousel {
	width: 100%;
	margin-top: 5%;
}

.carousel-inner .item img {
    width: 100%;
}

.carousel-caption {
/*	border: solid white 2px;
	border-radius: 2px;*/
	font-size: 1.25em;
	line-height: 1.3em;
	text-align: center;
	padding: 1% 1% 2% 1%;
	margin: 2% 0 5% 0;
	z-index: 0;
}

.carousel-caption > h4 {
	font-size: 2em;
	padding: 0 0 4% 0;
}

.carousel-control {
	padding-top: 16%;
	font-size: 6em;
}

/*.carousel-inner {
    background: url('../images/StudentVoiceImage.png');
    background-position: center center;
    background-repeat: no-repeat;
    height:100%;
 }
*/







/*Onboarding paragraphs*/
/*onboarding icon containers*/


.onboarding {
	margin: 7% 0 3.5% 0;
}

.onboarding-icon {
	display: block;
	text-align: center;
    margin: auto;
    padding-bottom: 50px;
}

.onboarding-paragraph {
	margin: auto;
	display: block;
}

.onboarding-des {
	padding-top: 40px;
	color: #4A4A4A;
	font-size: 1.25em;
}















/*Call to action area and buttons*/

.call-to-action-area {
	width: 100%;
	height: 320px;
	background-color: #6B7A8F ;
} 

.cta-header {
	text-align: center;
	color: #FFFFFF;
}

.cta-container {
	padding: 40px 0 0 0;
}

.btn-trial {
	background-color:#FFFFFF;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #FFFFFF;
	display:inline-block;
	cursor:pointer;
	color:#6B7A8F;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration: none!important;
	margin: 10px;
}


.btn-contact {
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:3px solid #FFFFFF;
	display:inline-block;
	cursor:pointer;
	color:#FFFFFF;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration: none!important; 
	text-shadow:0px 1px 0px #2f6627;
	margin: 10px;
}


.btn-contact:hover {
	background-color:#FFFFFF;
	color: #4A4A4A;
}

.btn-trial:hover {
	background-color:#FFFFFF;
	color: #4A4A4A;
}

/*End CTA*/



/*Footer*/

footer {
	background-color: #f2f2f2;
    border-top: thin solid #e4e4e4;
}

ul.footer-list {
	margin: 5% 0 5% 5%;
	list-style-type: none;
}

ul.footer-list a {
	color: #4A4A4A;
    text-decoration: none;
}

.footer-logo {
	padding: 16% 0 0 7%;
}

.footer-logo > p {
	line-height: 1.6em;
	font-size: .75em;
	padding-top: 10px;
}

.footer-content {
	padding: 5% 0 0 0;

}

.footer-content > p {
	font-size: 1em;
	line-height: 1.2em;

}





/*start program page elements */


/*USP icons and text */


.usp-h3 {
	text-align: left;
	color: #C06014;
	/*padding-top: 5%;*/
	line-height: 1.2em;
	font-size: 1.25em;
}

.usp-p {
	text-align: left;
	font-size: 1em;
	/*padding: 5%;*/
	color: #4A4A4A;
}

.usp-background {
	width: 100%;
	height: 70%;
	background-color: #F6EEE7;
}

.usp-container {
	padding: 4% 0 8% 0; 
}

.usp-icon {
	margin: auto;
	display: block;
	padding-top: 10%;
}

/*Training Method Section*/

.training-method {
	padding: 5% 0 5% 0;
	/*background-color: #FCFBF9;*/
}






/*Belt links*/

.belt-header {
	text-align: center;
	color: #4a4a4a;
	font-size: 3em;
	line-height: 1.5em;
	margin: 0;
	padding: 2% 5% 2% 5%;
}

.beltButton {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border: 2px solid #FFFFFF;
	display:block;
	cursor:pointer;
	color:#FFFFFF;
	text-align: center;
	font-size:1.5em;
	padding: 12px 10px 12px 10px;
	text-decoration:none!important;
	margin: 10%;
	position: absolute;
	top: 70%;
	left: 10%;
}

.beltButton:hover {
	background-color:#FFFFFF;
	color: #4A4A4A;
}

.belt-plan-desc {
	background-color: #F6EEE7;
	padding: 2% 0 4% 0;
}

.belt-image {
	position: relative;
	margin: auto;
	display: block;
}






/*Start Program Details*/


.table-container {
	margin: 2% 5% 2% 5%;
}


th {
	color: #C06014;
	padding: 3px;
	background-color: #ddddddd;
}

.schedule-container {
	margin: 40px;
}

.schedule-tile {
	width: 60%;
	height: 200px;
	border: solid;
	border-color: #4A4A4A;
	border-radius: 8px;
	margin: auto;
	display: block;
	margin-bottom: 20px;
	text-align: center;
}

.schedule-area {
	background-color: #FCFBF9;
	padding: 2% 0 2% 0;
}

.sch-head {
	color: #C06014;
}




/*Start company Page */



.company-values {
	font-size: 1.75em;
	line-height: 1.4em;
	text-align: left;
	padding: 5%;
}

.company-mindset {
	padding: 22% 0 0 4%;
	text-align: left;
	margin: 0;
	line-height: 1.4em;
}

.company-subtitle {
	padding: 0 0 0 4%;
	line-height: 1.5em;
}

.team-intro {
	line-height: 1.6em;
	padding: 5% 5% 5% 5%;
}


h2 > .company-info {
	padding: 4%;
	background-color: #FFFFFF;
}

.ceo-message {
	background-color: #FCFBF9;
	padding: 4%;
}



/*Team Page*/


.team-desc {
	text-align: center;
	margin: 5% 0 15% 0;
}

.team-name { 
	color: #C06014;
	margin: 20px 0 20px 0;
	font-size: 1.5em;
	text-align: center;
}

hr {
	width: 75%;
	height: 3px;
	background-color: #6B7A8F;
	margin-top: 8%;
}


.map {
	overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.map-desc {
	padding: 5% 0 0 5%;
}




.about-header {
	color: #C06014;
	font-size: 1.5em;
	text-align: left;
	margin: 20px 0 20px 0;
}

.ceo-img {
	padding-bottom: 5%;
	margin: auto;
	display: block;
}

.location-area {
	background-color: #F6EEE7;
	padding: 5% 0 5% 0;
}

.subtitle-team {
	text-align: center;
	line-height: 1.5em;
	margin: 4% 0 4% 0;
	font-size: 1.5em;
}



/*individual belt pages*/

/*.belt-desc {
	margin: auto;
	width: 75%;
	padding-bottom: 5%;
}

.belt-details {
	font-size: 1.25em;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 20px;
    padding-left: 15px;
    border-left: 3px solid #6B7A8F;
    line-height: 1.8em; 
}


.belt-headerh3 {
	font-size: 2.25em;
	color: #C06014;
}*/


.belt-values {
	padding: 2% 0 5% 0;

}

.belt-valuesh3 {
	font-size: 2em;
	color: #C06014;
}

.belt-header {
	padding: 2.5% 0 3% 0;
}

.belt-p {
	padding: 4% 4% 0 0;
	line-height: 1.6em;
}

.belt-background {
	margin-bottom: 10%;
}


blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 2% 13% 5% 13%;
  position: relative;
  font-size: 1.75em;
  line-height: 1.4em;
  color: #666;
  text-align: justify;
  border-left: 8px solid #C06014;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}




/*team pages*/

.careers-values {
	padding: 5% 0 5% 0;
}

.careers-header {
	padding: 5% 0 0 0;
}

.career-p {
	padding: 4% 4% 0 0;
}

.careers-background {
	margin-bottom: 10%;
}


/*responsive*/

@media screen and (max-width: 400px) {
body {
	font-size: 1em;
	}

.banner-text {
		font-size: 2.5em;
		top:15%;
	}

.footer-content {
		margin: 0 0 15% 15%;
	}

.cta-header {
		font-size: 1.75em;
	}
.banner-text-mid {
		font-size: 2.5em;
		top: 12%;
	}

.mobile-wrapper {
	margin: 0 5% 0 5%;
}

.training-method {
	margin: 0 5% 0 5%;
}

}













