
body {
	font-family:'heisei-kaku-gothic-std','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'sans-serif';
	font-size: 14px;
	line-height: 1.6em;
	margin: 0;
	padding: 0;
	color: #4A4A4A ;
}

/*a {
	text-decoration: none!important;
	color: #C06014;
}*/

/*Begin Nav styling */

.navbar-default {
	background-color: #FFFFFF;
	height: 82px;
	border-bottom: thin solid #e4e4e4;
	position: fixed;
	width: 100%;
	z-index: 1;
	box-shadow: 0 1px 2px rgba(0,0,0,.5)
}

.nav-link {
	font-size: 1em;
	margin-top: 30px;
	font-weight: bold;
}

.nav-link:hover {
	background-color: #e5e5e5;
	border-radius: 2px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #C06014;
}

/*.contact-us {
	background-color: #e5e5e5;
	color: #FFFFFF;
	font-size: 1em;
	margin-top: 30px;
	font-weight: bold;
}

.free-trial {
	background-color: #e5e5e5;
	color: #FFFFFF;
	font-size: 1em;
	margin-top: 30px;
	font-weight: bold;

}*/


.logo {
	float: left;
	position: fixed;
	margin: 10px 0 0 0;
}


/*End nav styling*/



/*Banners and banner text */

.banner {
	padding-top: 80px;
/*	width: 100%;
	display: block;*/
}

.banner > .banner-image {
	width: 100%;
	display: block;
	position: relative;
}

.banner-text {
	color: #FFFFFF;
	position: absolute;
	width: 100%;
	top:35%;
	font-size: 4em;
	left:0;
}

.banner-mid {
	width: 100%;
	display: block;
	position: relative;
}

.banner-mid > .banner-image {
	width: 100%;
	display: block;
	position: relative;
}

.banner-text-mid {
	color: #FFFFFF;
	position: absolute;
	width: 100%;
	top: 30%;
	font-size: 4em;
	left:0;
}

.banner-text-belts {
	color: #FFFFFF;
	position: absolute;
	width: 100%;
	top: 12%;
	left: 8%;
	text-align: left;
	font-size: 2.5em;
	line-height: 1.5em;
}

.banner-image-belt {
	width: 100%;
	display: block;
	position: relative;
}




/*Title headers and text  */

h1 {
	text-align: center;
	margin: 50px 0 50px 0;
	color: #4A4A4A;
	font-size: 2.5em;
	line-height: 1.25em;
}

h2 {
	text-align: center;
}

/*h4 {
	text-align: center;
}*/

h3 {
	line-height: 2em;
}

p {
	font-size: 1.25em;
	line-height: 1.5em;
}





/*Video */

#video {
    display: table;
    margin: auto;
    padding-bottom: 50px;
}









/*Values text */

.values-icon {
	margin: auto;
	display: block;
	padding: 50px 0px 20px 0px;
}

.section-headerh3 {
	color: #C06014;
	font-size: 2.25em;
	line-height: 1.2em;
}

.section-paragraph {
	padding-top: 5px;
	padding-left: 5px;
}

.section-paragraph > p {
	font-size: 1.5em;
}

.rows-values {
	margin: 2% 0 5% 0;
}










/*carousel*/


#myCarousel {
	width: 100%;
	margin-top: 5%;
}

.carousel-inner .item img {
    width: 100%;
}

.carousel-caption {
/*	border: solid white 2px;
	border-radius: 2px;*/
	font-size: 1.25em;
	line-height: 1.3em;
	text-align: center;
	padding: 1% 2% 2% 2%;
	margin: 2% 0 5% 0;
	z-index: 0;
}

.carousel-caption > h4 {
	font-size: 2em;
	padding: 0 0 4% 0;
}

.carousel-control {
	padding-top: 16%;
}








/*Onboarding paragraphs*/
/*onboarding icon containers*/


.onboarding {
	margin: 7% 0 3.5% 0;
}

.onboarding-icon {
	display: block;
	text-align: center;
    margin: auto;
    padding-bottom: 50px;
}

.onboarding-paragraph {
	margin: auto;
	display: block;
}

.onboarding-des {
	padding-top: 40px;
	color: #4A4A4A;
	font-size: 1.25em;
}















/*Call to action area and buttons*/

.call-to-action-area {
	width: 100%;
	height: 320px;
	background-color: #6B7A8F ;
} 

.cta-header {
	text-align: center;
	color: #FFFFFF;
}

.cta-container {
	padding: 40px 0 0 0;
}

.btn-trial {
	background-color:#FFFFFF;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #FFFFFF;
	display:inline-block;
	cursor:pointer;
	color:#6B7A8F;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration: none!important;
	margin: 10px;
}


.btn-contact {
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:3px solid #FFFFFF;
	display:inline-block;
	cursor:pointer;
	color:#FFFFFF;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration: none!important; 
	text-shadow:0px 1px 0px #2f6627;
	margin: 10px;
}


.btn-contact:hover {
	background-color:#FFFFFF;
	color: #4A4A4A;
}

.btn-trial:hover {
	background-color:#FFFFFF;
	color: #4A4A4A;
}

/*End CTA*/



/*Footer*/

footer {
	background-color: #f2f2f2;
    border-top: thin solid #e4e4e4;
}

ul.footer-list {
	margin: 40px;
	list-style-type: none;
}

ul.footer-list a {
	color: #4A4A4A;
    text-decoration: none;
}

.footer-logo {
	padding: 16% 0 0 7%;
}

.footer-logo > p {
	line-height: 1.4em;
	font-size: .75em;
	padding-top: 10px;
}

.footer-content {
	padding: 10% 0 0 0;

}

.footer-content > p {
	font-size: 1em;
	line-height: 1.2em;

}





/*start program page elements */


/*USP icons and text */


.usp-h3 {
	text-align: left;
	color: #C06014;
	/*padding-top: 5%;*/
	line-height: 1.2em;
	font-size: 1.25em;
}

.usp-p {
	text-align: left;
	font-size: 1em;
	/*padding: 5%;*/
	color: #4A4A4A;
}

.usp-background {
	width: 100%;
	height: 70%;
	background-color: #F6EEE7;
}

.usp-container {
	padding: 4% 0 8% 0; 
}

.usp-icon {
	margin: auto;
	display: block;
	padding-top: 10%;
}

.usp-header {
	text-align: center;
	margin-bottom: 5%;
}


/*Training Method Section*/

.training-method {
	padding: 5% 0 5% 0;
	/*background-color: #FCFBF9;*/
}






/*Belt links*/

.belt-header {
	text-align: center;
	color: #4a4a4a;
	font-size: 3em;
	line-height: 1.5em;
	margin: 0;
	padding: 2% 5% 2% 5%;
}

.beltButton {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border: 2px solid #FFFFFF;
	display:block;
	cursor:pointer;
	color:#FFFFFF;
	text-align: center;
	font-size:1.5em;
	padding: 12px 10px 12px 10px;
	text-decoration:none!important;
	margin: 10%;
	position: absolute;
	top: 70%;
	left: 10%;
}

.beltButton:hover {
	background-color:#FFFFFF;
	color: #4A4A4A;
}

.belt-plan-desc {
	background-color: #F6EEE7;
	padding: 2% 0 4% 0;
}

.belt-image {
	position: relative;
	margin: auto;
	display: block;
}






/*Start Program Details*/


.table-container {
	margin: 2% 5% 2% 5%;
	padding: 20px 80px 20px 80px;
}


th {
	color: #C06014;
	padding: 3px;
	background-color: #ddddddd;
}

.schedule-container {
	margin: 40px;
}

.schedule-tile {
	width: 60%;
	height: 200px;
	border: solid;
	border-color: #4A4A4A;
	border-radius: 8px;
	margin: auto;
	display: block;
	margin-bottom: 20px;
	text-align: center;
}

.schedule-area {
	background-color: #FCFBF9;
	padding: 2% 0 2% 0;
}

.sch-head {
	color: #C06014;
}




/*Start company Page */



.company-values {
	font-size: 1.75em;
	line-height: 1.4em;
	text-align: left;
	padding: 5%;
}

.company-mindset {
	padding: 22% 0 0 4%;
	text-align: left;
	margin: 0;
	line-height: 1.4em;
}

.team-intro {
	line-height: 1.6em;
	padding: 5% 5% 5% 5%;
}


h2 > .company-info {
	padding: 4%;
	background-color: #FFFFFF;
}

.ceo-message {
	background-color: #FCFBF9;
	padding: 4%;
}

.company-header {
	text-align: center;
	margin: 0 0 5% 0;
	color: #4A4A4A;
	line-height: 1.25em;
	font-size: 3em;
}


/*Team Page*/


.team-desc {
	text-align: center;
	margin: 5% 0 15% 0;
}

.team-name { 
	color: #C06014;
	margin: 20px 0 20px 0;
	font-size: 1.5em;
	text-align: center;
}

hr {
	width: 75%;
	height: 3px;
	background-color: #6B7A8F;
	margin-top: 8%;
}


.map {
	margin: auto;
	display: table;
}

.about-header {
	color: #C06014;
	font-size: 1.5em;
	text-align: left;
	margin: 20px 0 20px 0;
}

.ceo-img {
	padding-bottom: 5%;
	margin: auto;
	display: block;
}

.location-area {
	background-color: #F6EEE7;
	padding: 5% 0 5% 0;
}

.subtitle-team {
	text-align: center;
	line-height: 1.5em;
	margin: 4% 0 4% 0;
	font-size: 1.5em;
}



/*individual belt pages*/

/*.belt-desc {
	margin: auto;
	width: 75%;
	padding-bottom: 5%;
}

.belt-details {
	font-size: 1.25em;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 20px;
    padding-left: 15px;
    border-left: 3px solid #6B7A8F;
    line-height: 1.8em; 
}


.belt-headerh3 {
	font-size: 2.25em;
	color: #C06014;
}*/


.belt-values {
	padding: 5% 0 5% 0;

}

.belt-valuesh3 {
	font-size: 2em;
	color: #C06014;
}

.belt-header {
	padding: 2.5% 0 3% 0;
}

.belt-p {
	padding: 4% 4% 0 0;
	line-height: 1.6em;
}

.belt-background {
	margin-bottom: 10%;
}







/*team pages*/

.careers-values {
	padding: 5% 0 5% 0;
}

.careers-header {
	padding: 5% 0 0 0;
}

.career-p {
	padding: 4% 4% 0 0;
}

.careers-background {
	margin-bottom: 10%;
}














